version: "2"
services:
    api:
        image: sps/msg-backend-test
        build: api/
        ports:
            - 3000:3000
        links:
            - mongo
        volumes:
            - ./api:/home/app/webapp
        environment:
            - NODE_ENV=development
    mongo:
        image: mongo:3.2.5
        volumes:
            - data:/data/db
    client:
        image: sps/msg-client-test
        build: client/
        ports:
            - 8100:8100
            - 9876:9876
        links:
            - api
        volumes:
            - ./client/msgclient:/home/app/webapp
        tty: true
        stdin_open: true
volumes:
    data:
        driver: local
